*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

#container>div {
    border: 0.5px solid rgb(185, 185, 185);
  }
